In [22]:
%matplotlib inline
%config InlineBackend.figure_format = 'svg'
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('white')
madelon_train = './data/madelon_train.data'
madelon_train_labels = './data/madelon_train.labels'

In [23]:
madelon_train_df = pd.read_csv(madelon_train, delimiter=' ', header=None)
# madelon_train_df = madelon_train_df.dropna()
madelon_train_df = madelon_train_df.drop([500], axis=1)
madelon_train_df.head(20)
# madelon_train_labels_df.shape

,0,1,2,3,4,5,6,7,8,9,...,490,491,492,493,494,495,496,497,498,499
0,485,477,537,479,452,471,491,476,475,473,...,477,481,477,485,511,485,481,479,475,496
1,483,458,460,487,587,475,526,479,485,469,...,463,478,487,338,513,486,483,492,510,517
2,487,542,499,468,448,471,442,478,480,477,...,487,481,492,650,506,501,480,489,499,498
3,480,491,510,485,495,472,417,474,502,476,...,491,480,474,572,454,469,475,482,494,461
4,484,502,528,489,466,481,402,478,487,468,...,488,479,452,435,486,508,481,504,495,511
5,481,496,451,480,516,484,484,476,500,482,...,478,481,477,435,491,564,482,463,457,500
6,484,533,498,466,577,482,471,477,476,468,...,472,483,490,648,484,475,479,475,462,484
7,474,468,598,490,530,482,448,476,497,489,...,469,479,511,351,462,533,480,501,529,489
8,484,498,558,489,508,478,471,478,488,470,...,473,478,478,633,453,556,458,473,531,440
9,496,448,570,476,477,481,595,477,465,490,...,485,476,447,576,511,508,478,486,582,496
10,478,446,457,475,468,475,482,479,478,473,...,515,479,506,491,512,476,471,501,550,517
11,486,479,528,483,530,484,479,477,462,487,...,492,476,498,599,459,452,475,496,505,485
12,466,486,540,492,500,475,491,474,505,475,...,464,481,459,696,470,503,473,493,506,522
13,477,510,536,497,481,488,556,478,486,475,...,480,481,490,649,486,520,485,480,500,485
14,490,454,491,476,517,489,459,477,508,482,...,480,484,485,633,562,482,474,500,535,474
15,485,472,536,485,497,466,530,478,475,475,...,470,481,501,732,509,548,479,500,529,539
16,483,506,450,490,519,484,455,476,473,468,...,509,470,502,207,547,479,476,461,520,504
17,485,481,428,478,531,469,468,477,473,471,...,477,479,503,549,506,574,483,496,521,495
18,475,454,539,467,510,480,498,477,505,473,...,479,479,470,627,509,451,476,479,540,506
19,472,485,461,483,533,484,569,480,496,471,...,505,479,449,363,495,536,484,494,503,447

In [24]:
madelon_train_labels_df = pd.read_csv(madelon_train_labels, delimiter=' ', header=None, names=['target'])
madelon_train_labels_df.shape

madelon_train_labels_df.head(20)

    target
0       -1
1       -1
2       -1
3        1
4        1
5        1
6        1
7       -1
8        1
9       -1
10      -1
11      -1
12       1
13      -1
14      -1
15      -1
16      -1
17       1
18      -1
19       1

In [25]:
madelon_train_df.describe()

,0,1,2,3,4,5,6,7,8,9,...,490,491,492,493,494,495,496,497,498,499
count,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.00000,...,2000.000000,2000.000000,2000.000000,2000.000000,2000.00000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000
mean,481.722500,483.452500,510.166000,483.384500,501.612500,479.259000,480.109500,476.565000,486.793500,478.78900,...,482.458500,478.811500,486.356500,496.565500,493.49950,510.893000,478.219500,483.309000,507.977000,490.266000
std,6.421769,30.186294,38.899165,9.059895,41.389418,6.795956,40.575925,1.384461,15.043836,7.19092,...,20.890033,4.011735,23.967366,127.635442,34.81902,37.459353,5.880613,13.559847,37.224297,25.825273
min,462.000000,381.000000,370.000000,453.000000,371.000000,459.000000,334.000000,471.000000,430.000000,455.00000,...,407.000000,463.000000,391.000000,130.000000,368.00000,398.000000,457.000000,435.000000,363.000000,403.000000
25%,477.000000,464.000000,485.000000,477.000000,475.000000,475.000000,452.750000,476.000000,477.000000,474.00000,...,468.000000,476.000000,471.000000,404.000000,470.00000,486.000000,474.000000,474.000000,482.000000,473.000000
50%,482.000000,483.000000,510.500000,483.000000,500.000000,479.000000,480.000000,477.000000,487.000000,479.00000,...,482.000000,479.000000,486.000000,504.000000,492.00000,511.000000,478.000000,483.000000,508.000000,490.000000
75%,486.000000,503.000000,536.000000,490.000000,528.000000,484.000000,506.250000,477.000000,496.250000,484.00000,...,496.000000,481.000000,502.000000,586.000000,517.00000,535.000000,482.000000,492.000000,533.000000,507.250000
max,503.000000,600.000000,654.000000,519.000000,688.000000,505.000000,611.000000,481.000000,536.000000,503.00000,...,549.000000,497.000000,566.000000,920.000000,615.00000,661.000000,500.000000,535.000000,644.000000,583.000000